<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <application android:label="Grit & Motion" android:theme="@style/AppTheme">
        <receiver android:name=".ReminderReceiver" android:exported="false" />
    </application>
</manifest>
